<div class="container">
  <h2>Manage Skills</h2>
  <div class="content">
  <div id="form">
    <input type="text" [(ngModel)]="newSkill.skill" placeholder="Enter a skill" />
    <div class="slider-container">
      <label for="skill-level">Skill Level: {{ newSkill.level }}</label>
      <input id="skill-level"   [style.background]="
      'linear-gradient(to right, #1c76d6 ' + newSkill.level + '%, #ddd ' + newSkill.level + '%)'"type="range" [(ngModel)]="newSkill.level" min="0" max="100" />
    </div>
    <button (click)="addSkill()">Add Skill</button>
  </div>

  <ul>
    <li *ngFor="let skill of skills">
      {{ skill.skill }} (Level: {{ skill.level }})
      <button (click)="deleteSkill(skill.id)">Delete</button>
    </li>
  </ul>
</div>
</div>