<div class="container">
    <h2>Manage Work Experience</h2>
    <div class="content">
    <div id="form">
        <input type="text" placeholder="Company Name"
            [(ngModel)]="newWorkExperience.company" required> 
        <input type="text" placeholder="Position"  [(ngModel)]="newWorkExperience.position"
            required> 
        <input type="text" placeholder="Location"  [(ngModel)]="newWorkExperience.location"
            required> 
        <input type="text" placeholder="Start Date" 
            [(ngModel)]="newWorkExperience.startDate" required> 
        <input type="text" placeholder="End Date" [(ngModel)]="newWorkExperience.endDate"
            required> 
        <input type="text" placeholder="Accomplishments" 
            [(ngModel)]="newWorkExperience.accomplishments" required> 

        <button (click)="addWorkExperience()">Add Work Experience</button>

    </div>
    <ul>
        <li *ngFor="let job of workExperience">
            <span class="life-item">{{ job.company }}</span> <br>
            <span class="life-item">{{ job.position }}</span> <br>
            <button class="btn btn-danger" (click)="job.id ? deleteWorkExperience(job.id): null" *ngIf="job.id">
                Delete
            </button>

        </li>
    </ul>
</div>
</div>